<h1>Theatre Events in Chicago:</h1>

<%= div_for(@events.each) do |event| %>
  <h3><%= link_to event.name, event_path(event) %></h3>
  <h6><%= event.venue %></h6>
  <% unless event.performance_dates.empty? %>
    <td><%= time_tag(event.performance_dates.first.dtstart, format: '%B %d') %></td> -
    <td><%#= time_tag(event.performance_dates.last.dtend, format: '%B %d') %></td>
    <p><%= event.description %></p>

    <td><%#= link_to 'Show', event %></td>
    <td><%#= link_to 'Edit', edit_event_path(event) %></td>
    <td><%#= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  <% end%>
<% end %>

<%= link_to 'New Event', new_event_path %>
