<h1>
  <strong><%= @event.name %></strong>
</h1>

<h5>
  <%= @event.venue %>
</h5>

<p>
  <%= @event.description %>
</p>

<table>
  <tr>
    <td><strong>Style:</strong></td>
    <td><%= @event.style %></td>
  </tr>

  <tr>
    <td><strong>Run Time:</strong></td>
    <td><%= @event.run_time %></td>
  </tr>

  <tr>
    <td><strong>Price:</strong></td>
    <td><%= @event.price %></td>
  </tr>

  <tr>
    <td><strong>Box office num:</strong></td>
    <td><%= @event.box_office_num %></td>
  </tr>

  <tr>
    <td><strong>Tickets url:</strong></td>
    <td><%= @event.tickets_url %></td>
  </tr>
</table>

<br/>

<%= div_for(@event.performance_dates.each) do |perf| %>
<!-- TODO: Adjust for new Perf_date Migration with t.Datetime rather than t.time-->
  <td><%= time_tag(perf.dtstart, format: '%B %d, %l:%M %p') %></td>
  <%= link_to("Add to Calendar", event_add_attendance_path(@event, perf), class: "AddAttendance", remote: true) %>
 <% end %>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
